<div class="row" ng-controller="createCtrl">
    <div class="col-6">
        <form class="form-horizontal"  name="articleForm">
            <fieldset>
                <h4>Add Post</h4>
                <div class="form-group">
                    <label for="inputTitle" class="control-label">Title</label>
                    <div>
                        <input ng-model="article.title" type="text" class="form-control" id="inputTitle" placeholder="Title" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputTitle" class="control-label">Url</label>
                    <div>
                        <input ng-model="article.url" type="text" class="form-control" id="inputUrl" placeholder="Url" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="textArea" class="control-label">Description</label>
                    <div>
                        <textarea ng-model="article.description" class="form-control" id="textArea" rows="3" placeholder="Description" required></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button ng-disabled ="articleForm.$invalid" ng-click="save(article, articleForm)" type="submit" id="submit" class="btn btn-success">ADD POST</button>

                        <a href="#/" class="btn btn-default">BACK</a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="col-md-6">
        <div class="card" style="margin-top:60px; width:18rem;">
            <img class="card-img-top" src={{article.url}} alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{article.title}}</h5>
                <p class="card-text">{{article.description}}</p>
            </div>
        </div>
    </div>
</div>