<div class="row">
    <div class="col-6" ng-controller="postsCtrl">
        <form class="form-horizontal" name="articleEditForm">
            <fieldset>
                <h4>Edit Post</h4>
                <div class="form-group">
                    <label for="inputTitle" class="col-lg-2 control-label">Title</label>
                    <div>
                        <input name="title" ng-model="post.title" type="text" class="form-control" id="inputTitle"
                               placeholder="Title" required>
                    </div>
                    <div style="color:red" ng-show="articleEditForm.title.$touched && articleEditForm.title.$invalid">
                        <span ng-show="articleEditForm.title.$error.required">Title is required.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputUrl" class="col-lg-2 control-label">Url</label>
                    <div>
                        <input name="url" ng-model="post.url" type="url" class="form-control" id="inputUrl" placeholder="Url"
                               required>
                    </div>
                    <div style="color:red" ng-show="articleEditForm.url.$touched && articleEditForm.url.$invalid">
                        <span ng-show="articleEditForm.url.$error.required">Url is required.</span>
                        <span ng-show="articleEditForm.url.$error.url">Please enter a valid url.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="textArea" class="col-lg-2 control-label">Description</label>
                    <div>
                        <textarea name="description" ng-model="post.body" class="form-control" id="textArea" rows="3"
                                  placeholder="Description" required></textarea>
                    </div>
                    <div style="color:red" ng-show="articleEditForm.description.$touched && articleEditForm.description.$invalid">
                        <span ng-show="articleEditForm.description.$error.required">Description is required.</span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button ng-disabled="articleEditForm.$invalid" ng-click="edit(post, articleForm)" type="submit"
                                class="btn btn-success">EDIT POST
                        </button>
                        <a href="#/" class="btn btn-default">BACK</a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="col-6">
        <div class="card" style="margin-top:60px; width:15rem;">
            <img class="card-img-top" src={{post.url}} alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{post.title}}</h5>
                <p class="card-text">{{post.description}}</p>
            </div>
        </div>
    </div>
</div>

